<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Telefono</th>
      <th scope="col">Opzioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contatto of contatti">
      <th scope="col">{{ contatto.nome }}</th>
      <td scope="col">{{ contatto.cognome }}</td>
      <td scope="col">{{ contatto.telefono }}</td>

      <td scope="col">
        <button type="button" class="btn btn-danger btn-sm mx-2">+</button
        ><button type="button" class="btn btn-warning btn-sm mx-2">-</button>
      </td>
    </tr>
  </tbody>
</table>
